{% extends 'layout.html' %}
{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-start">Symbol</th>
            <th class="text-end">Shares</th>
            <th class="text-end">Price</th>
            <th class="text-end">TOTAL</th>
        </tr>
    </thead>

    {% if items %}
<tbody>

    {% for item in items %}
    <tr>
        <td class="text-start">{{item.symbol}}</td>
        <td class="text-end">{{item.shares}}</td>
        <td class="text-end">{{item.price}}</td>
        <td class="text-end">{{item.price*item.shares}}</td>
    </tr>    
    {% endfor %}

<tfoot>
    <tr>
        <td class="border-0 fw-bold text-end" colspan="3">Cash</td>
        <td class="border-0 text-end">{{current_user.cash}}</td>
    </tr>
    <tr>
        <td class="border-0 fw-bold text-end" colspan="3">TOTAL</td>
        <td class="border-0 w-bold text-end">{{newTotal}}</td>
    </tr>
</tfoot>

</tbody>
{% else %}
    <tfoot>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="3">Cash</td>
            <td class="border-0 text-end">{{current_user.cash}}</td>
        </tr>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="3">TOTAL</td>
            <td class="border-0 w-bold text-end">{{current_user.cash}}</td>

        </tr>
    </tfoot>
    {% endif %}

</table>
{% endblock main %}

